# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
magikvenv/

# IDE-specific files
.idea/
.vscode/

# Environment-specific files
*.env

# Logs and data files
*.log
*.csv
*.sqlite

# Testing files
.coverage
htmlcov/

# Documentation files
docs/_build/

# Other project-specific files
*.pyc

# Miscellaneous
.DS_Store

# Magik config file
magik_config.json
test_runs/*